# Byte-code files
*.pyc
__pycache__/

# VS Code specific files
.vscode/

# Virtual environment
.venv/
venv/

# Database files (if you're using SQLite)
*.sqlite3

# Collectstatic files
#static/

# Media files
#media/

# Distribution / build files
dist/
*.egg-info/
.build/

# Other temporary files
*~
*.swp

# Environmental file
*.env
#related to test
.pytest_cache/
.coverage
coverage.xml
htmlcov/
reports/